html {
  font-size: 22px;
  font-family: 'Roboto', sans-serif
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #001289;
  margin-bottom: 45px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #001289;
  margin-bottom: 25px;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #001289;
  margin-bottom: 5px;
}

p,span {
  font-size: 1rem;
  color: #0D25B7;
  font-family: 'Times New Roman', serif
}

strong {
  font-weight: bold;
  color: #001289;
}

.devTeamPart {
  margin: 6% 5% 1% 0;
  position: relative;
}

.devTeamPhoto {
  --width: 10vw;
  width: var(--width) !important;
  height: auto !important;
}

.githubLink {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 25%;
  right: 10%;
}

.githubLink img {
  width: 50px;
  height: 50px;
}

.teamPartDesc {
  text-align: center;
  position: relative;
  top: 10px;
  left: -5px;
}

.right-aligned-wide-btn {
  width: 55%;
  position: relative;
  left: 45%;
  justify-content: flex-start !important;
  padding-left: 10px;
  background-color: #BDCDE6 !important;
  border-radius: 0 !important;
  font-family: inherit !important;
  text-transform: none !important;
  color: #0D25B7 !important;
  margin-top: 20px !important;
  padding-left: 20px !important;
}